.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
tfplan
plan.json
*.log
.venv/
.DS_Store
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/tfplan
**/plan.json
**/*.log
.DS_Store
